<p id="notice"><%= notice %></p>

<p>
  <strong>People:</strong>
  <%= @information.people %>
</p>

<p>
  <strong>Length:</strong>
  <%= @information.length %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
